body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

#app {
  max-width: 500px;
  margin: 40px auto;
  font-family: Arial, sans-serif;
}

input {
  padding: 8px;
  margin-right: 10px;
}

ul {
  margin-top: 20px;
}


button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #333;
    color: white;
}